html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-grey400: #c7bebe;
  --clr-grey200: #e7e7e7;
  --clr-blue: #3282f7;
  --clr-green: #68d9a4;
  --clr-red: #ed6454;
}

body {
  font-size: 1.6rem;
}

.search__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__header, .cards__item__body__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  background-color: var(--clr-white);
  color: var(--clr-black);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 80px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  text-align: center;
  padding-top: 42px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 22px;
  }
}

.header__logo {
  max-width: 268px;
  margin-bottom: 17px;
}

@media screen and (max-width: 576px) {
  .header__logo {
    max-width: 164px;
  }
}

.header__form {
  position: relative;
  width: 100%;
  height: 69px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .header__form {
    height: 40px;
  }
}

.header__form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-grey200);
  padding: 23px 65px 24px 22px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  line-height: 22px;
}

.header__form__input::-webkit-input-placeholder {
  opacity: 0.25;
}

.header__form__input:-ms-input-placeholder {
  opacity: 0.25;
}

.header__form__input::-ms-input-placeholder {
  opacity: 0.25;
}

.header__form__input::placeholder {
  opacity: 0.25;
}

@media screen and (max-width: 576px) {
  .header__form__input::-webkit-input-placeholder {
    font-size: 10px;
  }
  .header__form__input:-ms-input-placeholder {
    font-size: 10px;
  }
  .header__form__input::-ms-input-placeholder {
    font-size: 10px;
  }
  .header__form__input::placeholder {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header__form__input {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 576px) {
  .header__form__input {
    font-size: 14px;
    line-height: 18px;
  }
}

.header__form__btn {
  position: absolute;
  right: 16px;
  top: 17px;
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .header__form__btn {
    font-size: 20px;
    right: 14px;
    top: 11px;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 25px 0px 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .search {
    gap: 12px;
  }
}

.search__tag {
  padding: 8px 22px;
  border-radius: 5px;
  color: var(--clr-white);
}

.search__tag.bg-blue {
  background-color: var(--clr-blue);
}

.search__tag.bg-green {
  background-color: var(--clr-green);
}

.search__tag.bg-red {
  background-color: var(--clr-red);
}

.search__label {
  margin-right: 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.search__btn {
  font-size: 20px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .filter {
    display: block;
  }
}

.filter__item {
  color: var(--clr-white);
  border-radius: 5px;
  padding: 0px 26px 16px 19px;
  height: 69px;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 768px) {
  .filter__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.filter__item.expand {
  height: 100%;
}

.filter__item.expand .filter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item.expand .filter__header button i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter__item.bg-blue {
  background-color: var(--clr-blue);
}

.filter__item.bg-blue .filter__header {
  background-color: var(--clr-blue);
}

.filter__item.bg-green {
  background-color: var(--clr-green);
}

.filter__item.bg-green .filter__header {
  background-color: var(--clr-green);
}

.filter__item.bg-red {
  background-color: var(--clr-red);
}

.filter__item.bg-red .filter__header {
  background-color: var(--clr-red);
}

.filter__header {
  width: 100%;
  position: relative;
  padding-top: 23px;
  padding-bottom: 16px;
  z-index: 1;
}

.filter__header input {
  color: var(--clr-white);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  max-width: 111px;
}

.filter__header input::-webkit-input-placeholder {
  color: var(--clr-white);
}

.filter__header input:-ms-input-placeholder {
  color: var(--clr-white);
}

.filter__header input::-ms-input-placeholder {
  color: var(--clr-white);
}

.filter__header input::placeholder {
  color: var(--clr-white);
}

.filter__header button {
  font-size: 16px;
}

.filter__header button i {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.filter__body {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  max-width: 667px;
}

.filter__body_col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.filter__body button {
  display: block;
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 18px;
  padding-bottom: 10px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -32px -25px 0;
}

@media screen and (max-width: 768px) {
  .cards {
    display: block;
    margin: 0;
  }
}

.cards__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: calc(33.333% - 50px);
      flex-basis: calc(33.333% - 50px);
  max-width: calc(33.333% - 50px);
  margin: 32px 25px 25px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .cards__item {
    -ms-flex-preferred-size: calc(50% - 50px);
        flex-basis: calc(50% - 50px);
    max-width: calc(50% - 50px);
  }
}

@media screen and (max-width: 768px) {
  .cards__item {
    max-width: 100%;
    margin: 0 0 25px;
  }
}

.cards__item__header {
  width: 100%;
  height: 178px;
  background-color: var(--clr-grey400);
  border-radius: 5px 5px 0 0;
}

.cards__item__body {
  padding: 20px;
  background-color: var(--clr-grey200);
  border-radius: 0 0 5px 5px;
}

.cards__item__body__head {
  padding-bottom: 20px;
}

.cards__item__body__head h3 {
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 576px) {
  .cards__item__body__head h3 {
    font-size: 16px;
    line-height: 20px;
  }
}

.cards__item__body__head span {
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .cards__item__body__head span {
    font-size: 18px;
  }
}

.cards__item__body__head span strong {
  margin-left: 7px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .cards__item__body__head span strong {
    font-size: 16px;
    line-height: 20px;
    margin-left: 4px;
  }
}

.cards__item__body__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .cards__item__body__wrap {
    display: block;
  }
}

.cards__item__body__col {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .cards__item__body__col {
    max-width: 100%;
  }
}

.cards__item__body__col li {
  line-height: 14px;
}

.cards__item__body__col li strong {
  font-weight: 700;
}

.cards__item__body__col:first-child {
  padding-right: 10px;
}

@media screen and (max-width: 576px) {
  .cards__item__body__col:first-child {
    padding-right: 0;
    padding-bottom: 10px;
  }
}

.cards__item__body__col:last-child {
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
  text-align: justify;
  line-height: 12px;
  max-height: 96px;
  margin-right: -10px;
  padding-right: 10px;
}

.cards__item__body__col:last-child::before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}

.cards__item__body__col:last-child::after {
  content: "";
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  margin-top: 2px;
  background: var(--clr-grey200);
}

@media screen and (max-width: 576px) {
  .cards__item__body__col:last-child {
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */